$whew-color-map: (
  f-green: $green,
  bs-green: $green,
  bg-green: $green,

  f-yellow: $yellow,
  bs-yellow: $yellow,
  bg-yellow: $yellow,

  f-blue: $blue,
  bs-blue: $blue,
  bg-blue: $blue,

  f-red: $red,
  bs-red: $red,
  bg-red: $red
);